body {
    color: #FFF;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: #45484d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
    font-family: "Roboto", sans-serif;
}

.btn {
    border-radius: 0px;
}

.btn-default {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #ccc;
}

.btn-primary {
    color: #2e6da4;
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #2e6da4;
}

.btn-success {
    color: #4cae4c;
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #4cae4c;
}

.btn-info {
    color: #46b8da;
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #46b8da;
}

.btn-warning {
    color: #eea236;
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #eea236;
}

.btn-danger {
    color: #d43f3a;
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #d43f3a;
}

.container .jumbotron,
.container-fluid {
    border-radius: 0px;
}

.jumbotron {
    background-color: rgba(0, 0, 0, .2);
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-color: #FFF;
}

.label {
    border-radius: 0px;
}

.tabled-striped {
    background-color: #222;
}
