body {
  font-family: 'Questrial', sans-serif;
}
#header-image {
  height: inherit;
  max-height: 1%;
  vertical-align: middle;
}
.navbar-brand {
  font-family: 'Hind', sans-serif;
  background: #1f1e1d;
  color: #fff;
}
header h1 {
  background: #1f1e1d;
  color: #fff;
}
h2 {
  color: #111;
}
.secondary {
  background: #2e2d2c;
  color: #fff;
}
#notification {
  background: red;
  color: white;
}
.row {
  clear: both;
}
.row:after {
  clear: both;
  content: " ";
  display: table;
}
.col {
  float: left;
  background: #3d3c3b;
  padding: .5%;
  margin: .1%;
  width: 32.1%;
}
