a, a:focus, a:hover, a:visited {
  color: #f96;
}

.bg-inverse {
  background-color: black !important;
}

body {
  color: #a5c2e1;
}

#contact {
  background-color: #316294;
  font-size: .9rem;
  padding-top: 10px;
  padding-bottom: 5px;
}

#footer {
  background-color: #1b4b7d;
  margin: 0;
  width: 100%;
  max-width: 100vw;
}

.navbar {
  font-family: "Helvetica LT Std Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
}

.page-content div {
  font-family: "Helvetica LT Std", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#profile {
  background-color: #1b4b7d;
  height: auto;
  max-width: 100vw;
}

.profile-overlay {
  padding-top: 38px;
  padding-bottom: 38px;
}

#projects {
  color: #a5c2e1;
  background: url(../img/messyroomblurgrey.jpg) 50% 0 fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

#projects .container {
  background-color: rgba(27, 75, 125, 0.8);
  max-width: 100vw;
}

.projects-overlay {
  padding: 38px;
  width: 100%;
  background-color: rgba(27, 75, 125, 0.8);
}

.project {
  padding-bottom: 20px;
}

#intro{
  color: #000000;
  min-height: 100vh;
  padding-top: 38px;
  background: url(../img/webdesign-layout-sketching-picjumbo-com.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#intro > .jumbotron {
  background: none;
}

.jumbotron {
  margin-bottom: 0;
}

.navbar > a{
  color: #7F7E7E;
}
.navbar > a:focus, a:hover{
  color: #ffffff;
}

.blur {
  color: transparent;
  text-shadow: 0 0 4px rgba(255,255,255,0.5);
}

.u{
  font-family: "avant garde", "Century Gothic", "Avant Garde Gothic", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
