body {
    background-color: #888;
}

html,
body {
    width: auto !important;
    overflow-x: hidden !important;
}

#container {
    height: 100%;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

#footer {
    padding: 10px;
    margin: 0px;
    bottom: 0;
    width: 100%;
    color: #FFF;
    font-family: 'Hind', sans-serif;
}

.about-glow1 {}

.about-glow2 {
    color: #000000;
    text-shadow: 1px 1px 2px grey, 0 0 0.8em white;
}

.about-glow3 {
    text-shadow: 1px 1px 2px grey, 0 0 1em white;
}

.page-content div {
    font-family: 'Questrial', sans-serif;
    padding: 0px;
}

.post-content,
.post-header {
    margin: 10px;
}

.post-list {
    margin: 0;
}

.nav {
    font-family: 'Hind', sans-serif;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-brand {
    color: #FFF;
}

.navbar-wrapper {
    background: #1f1e1d;
}

.topbot {
    background-color: #141415;
}

video#bgv {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

#intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    z-index: 0;
    padding: 0px;
    margin: 0px;
}

#profile {
    background: url(../img/pixelcity.png) 50% 0 fixed;
    background-size: cover;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 200px 0;
}

h1,
h2 {
    font-family: 'Hind', sans-serif;
}

h3,
h4 {
    font-family: 'Questrial', sans-serif;
}

h1.headline {
    position: relative;
    Up: 20px;
}

#home {
    background: url(../img/messyroomblur.jpg) 50% 0 fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.home-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

#about {
    background: url(../img/footer_lodyas.png) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    position: relative;
    color: #fff;
}

#footer {
    position: bottom;
}
/* TESTING TESTING*/

<style type="text/css"> a,
a:focus,
a:hover,
a:visited {
    color: #FFF;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff;
}

html,
body {
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.inner {
    padding: 30px;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}

#contact {
    background: url(../img/sunnybeach.jpg) 50% 0 fixed;
    background-size: cover;
    height: 80vh;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 100px 0;
    color: #1f1e1d;
}

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.mastfoot {
    color: #999;
    color: rgba(255, 255, 255, .5);
}

@media (min-width: 768px) {
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    .site-wrapper-inner {
        vertical-align: middle;
    }
    .masthead,
    .mastfoot,
    @media (min-width: 992px) {
        .masthead,
        .mastfoot,
        .cover-container {
            width: 700px;
        }
    }
#splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}