body {
    background-color: #888;
}

#container {
    height: 100%;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

#footer {
    padding: 0px;
    margin: 0px;
    background-color: #1f1e1d;
    opacity: 0.99;
    filter: alpha(opacity=99);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFF;
}

.page-content div {
    font-family: 'Questrial', sans-serif;
    padding: 0px;
    margin: 30px;
    width: 100%;
}

.navbar-static-top {
    padding: 0px;
    margin: 0px;
    offset: 0px;
}

.navbar-wrapper {
    font-family: 'Hind', sans-serif;
    background: #1f1e1d;
}

.site-footer {
    vertical-align: bottom;
}
