body {
   font-family: 'Questrial', sans-serif;
}
#header-image {
   height: inherit;
   max-height: 1%;
   vertical-align: middle;
}
.navbar-brand {
   font-family: 'Hind', sans-serif;
   background: #1F1E1D;
   color: #FFFFFF;
}
header h1 {
   background: #1F1E1D;
   color: #FFFFFF;
}
h2 {
   color: #111;
}
.secondary {
   background: #2E2D2C;
   color: #FFFFFF;
}
#notification {
   background: red;
   color: white;
}
.row {
   clear: both;
}
.row:after {
   clear: both;
   content: " ";
   display: table;
}
.col {
   float: left;
   background: #3D3C3B;
   padding: 0.5%;
   margin: 0.1%;
   width: 32.1%;
}
