  html, body {
  width: auto !important;
  overflow-x: hidden !important;
}
#container {
  height: 100%;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
#footer {
  height: 8vh;
  max-height: 50px;
  margin: 0;
  bottom: 0;
  width: 100%;
  color: #9d9d9d;
  font-family: "Helvetica LT Std Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: flex;
  align-items: center;
}
.glow {
  text-shadow: 1px 1px 2px grey, 0 0 0.8em white;
}
.page-content div {
  font-family: "Helvetica LT Std", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.post-content, .post-header {
  margin: 10px;
}
.post-list {
  margin: 0;
}
.nav {
  font-family: "Helvetica LT Std Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-brand {
  color: #FFF;
}
.navbar-wrapper {
  background: #1f1e1d;
}
.topbot {
  background-color: #141415;
}
#bgv {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
#intro {
  position:         relative;
  width:            100%;
  min-height:       100vh;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  z-index:          0;
  padding:          0;
  margin:           0;
  display:          flex;
  align-items:      center;
}
#profile {
  color: #a5c2e1;
  background-color: #1b4b7d;
  background-size: cover;
  display:         flex;
  flex-wrap:       wrap;
  margin:          0 auto;
  height:          auto;
  width:           100%;
}
.profile-overlay{
  padding-bottom: 20px;
}
h1, h2, h3, h4 {
  font-family: "Helvetica LT Std", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.headline {
  position: relative;
  Up: 20px;
}
#home {
  background:      url(../img/messyroomblurpurple.jpg) 50% 0 fixed;
  background-size: cover;
  display:         flex;
  flex-wrap:       wrap;
  width:           100%;
  padding-bottom:  15px;
}
.home-overlay1{
  background-color: rgba(0, 0, 0, 0.7);
}
.home-overlay2{
  background-color: rgba(0, 0, 0, 0.35);
}
.home-container{
  padding: 50px;
}
#home > .carousel {
  min-height: inherit;
  padding: 0;
}
#home > .carousel > .item {
  height: inherit;
}
#projects {
  color:           #a5c2e1;
  background:      url(../img/messyroomblurgrey.jpg) 50% 0 fixed;
  background-size: cover;
  display:         flex;
  flex-wrap:       wrap;
  height:          auto;
  margin:          0 auto;
  width:           100%;
}
.projects-overlay{
  background-color: rgba(27, 75, 125, 0.8);
  padding-bottom: 50px;
}

a, a:focus, a:hover, a:visited {
  color:     #ff9966;
}
.btn-default, .btn-default:hover, .btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}
html, body {
  color: #FFF;
}
ul {
  display: inline-block;
}
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.inner {
  padding: 30px;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left:  0;
  font-size:     16px;
  font-weight:   bold;
  color:         rgba(255, 255, 255, .75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255, 255, 255, .25);
}
.masthead-nav > .active > a, .masthead-nav > .active > a:hover, .masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
#contact {
  background-color: #316294;
  color:            #a5c2e1;
  margin:           0 auto;
  width:            100%;
  position:         relative;
  display:          flex;
  flex-wrap:        wrap;
}
#contact > a:link{
  color: #1f1e1d;
}
.contact-overlay{
  margin-bottom: 20px;
}
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.mastfoot {
  color: #999;
  color: rgba(255, 255, 255, .5);
}
@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .skills{
    -o-padding-start: 0;
    -o-padding-end: 20px;
    -moz-padding-start: 0;
    -moz-padding-end: 20px;
    -webkit-padding-start: 0;
    -webkit-padding-end: 20px;
    padding-left: 0;
    padding-right: 20px;
  }
  #splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .hideme{
    opacity:0;
  }
  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(75, 75, 75, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .hovereffect:hover .overlay {
    background-color: rgba(48, 152, 157, 0.4);
  }
  .hovereffect img {
    display: block;
    position: relative;
    width: inherit;
  }
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .hovereffect:hover h2 {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
  }
  .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
.hidden
{
    display: none;
}
.imgblur{
  filter: blur(5px);
}
@font-face {
  font-family: "Helvetica LT Std";
  src: url('/fonts/HelveticaLTStd-Roman.otf?#iefix') format('opentype');
}
@font-face {
  font-family: "Helvetica LT Std";
  src: url('/fonts/HelveticaLTStd-Bold.otf?#iefix') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica LT Std Black";
  src: url('/fonts/HelveticaLTStd-Blk.otf?#iefix') format('opentype');
}
@font-face {
  font-family: "Helvetica LT Std Light";
  src: url('/fonts/HelveticaLTStd-Light.otf?#iefix') format('opentype');
}
.thick-headline {
  font-family: "Helvetica LT Std Black", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.helv-headline {
  font-family: "Helvetica LT Std", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.light-headline {
  font-family: "Helvetica LT Std Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.post-fit{
  padding-top: 50px;
  max-height:  100vh;
  min-height:  calc(100vh - 60px);
  min-height:  -o-calc(100vh - 60px); /* opera */
  min-height:  -webkit-calc(100vh - 60px); /* google, safari */
  min-height:  -moz-calc(100vh - 60px); /* firefox */
  margin:      0 auto;
  width:       100%;
  position:    relative;
  color:       #000000;
}
}
