body {
  margin: 0;
  background-color: #ffff33;
  line-height: 1;
}

.lineheight-1{
  line-height: 1;
}

.page-content{
  margin-top: 8.66666666667vw;
  max-width: 100vh;
}

a{
  color: #000000;
  text-decoration: none;
}

a:hover{
  color: #ff33cc;
}

p{
  margin-top: 0;
  margin-bottom: 2rem;
}
