a{
  color: #ff33cc;
  text-decoration: none;
}

a:hover{
  color: #000000;
}

a:visited{
	color: #ff33cc;
}

body{
	font-family: 
}

footer{
	padding-bottom: 1vh;
	position: absolute;
  bottom: 0;
}

.content{
	padding-left: 1vw;
	padding-top: 1vh;
}

.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg-video {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
}

.header{
	width: inherit;
}

.splash {
	background-color: #ff3;
	height: 100vh;
}