@font-face {
  font-family: "Helvetica LT Std";
  src: url('/font/HelveticaLTStd-Roman.otf?#iefix') format('opentype');
}
@font-face {
  font-family: "Helvetica LT Std";
  src: url('/font/HelveticaLTStd-Bold.otf?#iefix') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica LT Std Black";
  src: url('/font/HelveticaLTStd-Blk.otf?#iefix') format('opentype');
}
@font-face {
  font-family: "Helvetica LT Std Light";
  src: url('/font/HelveticaLTStd-Light.otf?#iefix') format('opentype');
}
.thick-headline {
  font-family: "Helvetica LT Std Black";
}
.headline {
  font-family: "Helvetica LT Std";
}
.light-headline {
  font-family: "Helvetica LT Std Light";
}

.pane {
  height: 100vh;
  width: 100vh;
}
