<!doctype html> {% include head.html %}
<link rel="stylesheet" href="{{ " /css/carousel.css " | prepend: site.baseurl }}">
<style>
body {
    background: url(img/sunnybeach.jpg) 50% 0 fixed;
    background-size: cover;
    color: #1f1e1d;
}

.contacts {
    margin-left: 5%;
    margin-right: 5%;
}

#footer {
    position: fixed;
}

.gallery-header {
    margin-left: 5%;
    margin-right: 5%;
}

.marketing {
    margin-top: 10%;
    overflow: auto;
}
</style>
</head>
{% include header.html %}

<body>
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <i class="fa fa-github fa-4x"></i>
                <h3>Github: <a href="https://github.com/NoteMakoti">NoteMakoti</a></h3>
                <p>I don't contribute to nearly enough projects on my new git, so shoot me a line if you need help with anything. Don't be shy!</p>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-twitter fa-4x"></i>
                <h3>Twitter: <a href="https://twitter.com/smktty">smktty</a></h3>
                <p>I mostly just retweet memes, to be honest. It's not really a holy grail of networking for me. It is a quick way to reach me, though.</p>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-envelope fa-4x"></i>
                <h3>E-Mail: <a href="mailto:stanleymccatty@gmail.com">stanleymccatty@gmail.com</a></h3>
                <p>Shoot me a line if you want to ask a question,get a résumé, or have any serious inquiries.</p>
            </div>
        </div>
    </div>
</body>
{% include footer.html %}

</html>
